.container {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.getStarted {
  width: 191px;
  height: 24px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #283647;
  margin-left: 30px;
  margin-top: 40px;
}

.workEmail {
  width: 320px;
  height: 20px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  color: #798898;
  margin-left: 30px;
  margin-top: 5px;
}

.line {
  width: 340px;
  height: 1px;
  background-color: #e2e6eb;
  margin-left: 30px;
  margin-top: 10px;
}

.email_input_container {
  margin-left: 30px;
  margin-top: 20px;
  width: 340px;
  height: 50px;
  border: solid 1px #e2e6eb;
  border-radius: 2px;

  display: flex;
}

.email_input {
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  color: #798898;
  opacity: 0.5;
  width: 100%;
  border: none;
}

.defaultViewBtn {
  margin-left: 220px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: solid 1px #e2e6eb;
  background-color: #2c9db7;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}
