.disabledModal {
  display: none; /* Hidden by default */
}

.modal {
  display: block;
  position: fixed; /* Sit on top of the page content */
  width: 200px;
  height: 78px;
  border-radius: 2px;
  background-color: #de5454;
  margin: 38px 100px 159px 100px;
}

.error_message {
  width: 170px;
  height: 48px;
  font-family: ProximaNova;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 13px;
}

.error_message .login_reset {
  font-weight: bold;
}
