.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.join_message {
  width: 185px;
  height: 24px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #283647;
  margin-left: 30px;
  margin-top: 40px;
}

.instructions {
  width: 320px;
  height: 40px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  color: #798898;
  margin-left: 30px;
  margin-top: 5px;
}

.line {
  width: 340px;
  height: 1px;
  background-color: #e2e6eb;
  margin-left: 30px;
  margin-top: 10px;
}

.name_container {
  display: flex;
}

.first_name_container {
  margin-left: 30px;
  margin-top: 20px;
  width: 165px;
  height: 50px;
  border: solid 1px #e2e6eb;
  border-radius: 2px;
  display: flex;
}

.last_name_container {
  margin-left: 10px;
  margin-top: 20px;
  width: 165px;
  height: 50px;
  border: solid 1px #e2e6eb;
  border-radius: 2px;
  display: flex;
}

.display_name_container,
.password_container {
  margin-left: 30px;
  margin-top: 10px;
  width: 340px;
  height: 50px;
  border: solid 1px #e2e6eb;
  border-radius: 2px;
  display: flex;
}

.first_name_input,
.last_name_input,
.display_name_input,
.password_input {
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  /* color: #798898; */
  color: #283647;
  /* opacity: 0.5; */
  width: 100%;
  border: none;
}

.first_name_input::placeholder,
.last_name_input::placeholder,
.display_name_input::placeholder,
.password_input::placeholder {
  color: #798898;
  opacity: 0.5;
}

.signup_btn {
  margin-left: 220px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: solid 1px #e2e6eb;
  background-color: #2c9db7;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.tc_message {
  text-align: center;
  width: 400px;
  height: 17px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #e2e6eb;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tc_message .tc {
  text-align: center;
  font-weight: bold;
  letter-spacing: normal;
}
