.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 428px;
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.title {
  width: 201px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #283647;
  margin-left: 30px;
  margin-top: 40px;
}

.instructions {
  width: 340px;
  height: 60px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  color: #798898;
  margin-left: 30px;
  margin-top: 5px;
}

.line {
  width: 340px;
  height: 1px;
  background-color: #e2e6eb;
  margin-left: 30px;
  margin-top: 10px;
}

.toggle_container {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.any_email_toggle {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.any_email_message {
  width: 172px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.2px;
  text-align: left;
  color: #283647;
  margin-left: 16px;
}

.domain_input_container {
  margin-left: 30px;
  margin-top: 20px;
  width: 340px;
  height: 50px;
  border: solid 1px #e2e6eb;
  border-radius: 2px;
  display: flex;
}

.domain_input {
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  /* color: #798898; */
  color: #283647;
  /* opacity: 0.5; */
  width: 100%;
  border: none;
}

.domain_input::placeholder {
  color: #798898;
  opacity: 0.5;
}

.invite_toggle_container {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 20px;
  margin-left: 30px;
}

.icon_container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.invite_message {
  width: 61px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.2px;
  text-align: left;
  color: #283647;
  margin-left: 16px;
}

.btn_done {
  margin-left: 220px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: solid 1px #e2e6eb;
  background-color: #2c9db7;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}
